*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

header{
    height: 100px;
    position: relative;
}
header>h1{
    position: absolute;
    color: firebrick;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contenitore::after{
    display: table;
    clear: both;
    content: "";
}
.contenitore{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.contenitore p{
    text-align: center;
    margin-bottom: 60px;
    margin-bottom: 10px;
}
.card{
    width: calc(100% / 3 - 20px);
    height: 100px;
    float: left;
    margin: 10px;
    color: black;
    margin-top: 20px;
    /* debug */
}
.foto{
    width: 30%;
    height: 100px;
    float: left;
    /* deb */
    background-color: red;
}
.testo{
    width: 70%;
    height: 100px;
    float: left;
    background-color: black;
    color: white;
}
.foto>img {
    width: 100%;
    height: 100px;
}
.nome, .ruolo, .contatto{
margin-left: 15px;
padding-top: 10px;
}
.ruolo{
    font-style: italic;
}
.testo>a{
    text-decoration: none;
    color: cornflowerblue;
}