*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
header{
    height: 100px;
    position: relative;
}
header>h1{
    position: absolute;
    color: firebrick;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contenitore{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.contenitore p{
    text-align: center;
    margin-bottom: 40px;
}
.card{
    width: calc(100% / 3 - 20px);
    height: 100px;
    float: left;
    margin-bottom:20px;
    margin: 10px;
    background: black;
    box-shadow: 2px 3px 10px blue;
    }

.foto{
    width: 30%;
    height: 100px;
    float: left;
}
.foto>img {
    width: 100%;
    height: 100px;
}
.testo{
    width: calc(70% - 20px);
    height: 100px;
    float: left;
    color: white;
    padding: 10px;
    margin-left: 10px;
    line-height: 25px;
    overflow: hidden;
}
.ruolo{
    font-style: italic;
    font-size: 15px;
}
.testo>a{
    text-decoration: none;
    color: cornflowerblue;
}
.contenitore::after{
    clear: both;
    display: table;
    content: "";
}